@charset "UTF-8";

@font-face {
    font-family: 'anton';
    src: 
    url('font/Anton-Regular.ttf') format(truetype);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'poema';
    src: url(font/PlaywriteHR-VariableFont_wght.ttf);
    font-weight: normal;
    font-style: normal; 
}
* {
    padding: 0;
    margin: 0;
}

header {
    position: relative;
    height: 42vh;   
    background-color: black;
}
    
h1 {
    font-family: "anton";
    color: white;
    text-align: center;
    position: absolute;
    font-size: 100px;
    top: 25%;
    left: 25%;
}

section > p {
    margin: 50px 20px;
    font-size: 40px;
    font-family: "poema";
    width: 500px;
    margin-top: 50px;
    text-align: center;
}

.grande {
    height: 150vh;
}

section {
    height: 90vh;
}

p.credito {
    color: azure;
    position: absolute;
    font-size: normal;
    top: 80%;
    left: 43%;
}

section.nao {
    background-image: url(imagens/background001.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right center;
    background-attachment: fixed;
}

section.dois {
    background-image: url(imagens/background002.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right center;
    background-attachment: fixed;

}